body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#cat {
	margin-left: auto;
	margin-right: auto;
}

#cat-container{
}

#game-container {
	height: 100%;
	background-color: #e3e3e3;
}

#combat-section {
	height: 100%;

	background-color: rgba(136, 136, 0, .3);
	border-right: 2px solid black;
}

#menu-section {
	height: 100%;
	background-color: rgba(0,135,135, .2);
}

#top-menu{
	border-bottom: 1px solid black;
}

.menu-choice {
	padding: 20px;
	border-right: 1px solid black;
}

.menu-choice:nth-child(3) {
	border-right: none;
}

.menu-area {
	margin-top:10px;
	height: 100%;
}

#ability-menu {


}
#ability-list {
	overflow: scroll;
	height: 100%;
}

.ability-button{
	margin-top: 10px;
	padding: 20px;
	line-height: 100%;
	margin-bottom: 10px;
	border: 1px solid black;
}

#run-button {
	bottom:0;
	position: absolute;
	padding: 20px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
#equip-menu {
	display: none;
}